<!--begin::Header-->
<style>
	.navbar-brand {
		color: white;
		margin-left: 3vh;
		font-size: 4vh;
	}
	.app-header {
		box-shadow: 0 0 10px #1D6EE3;
		color: white;
		font-size: 2.6vh;
	}
</style>
<div id="kt_app_header" class="app-header">
	<!--begin::Header container-->
	<div class="app-container container-xxl d-flex align-items-stretch justify-content-between">
		<!--begin::Logo-->
		<div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15">
			<div class="navbar-brand fw-bold">Ava<span class="text-warning fw-bold me-1">tar</span></div>
		</div>
		<!--end::Logo-->
		<!--begin::Header wrapper-->
		<div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1" id="kt_app_header_wrapper">
			{% include './header/_menu/_menu.html' %}
			{% include './header/_navbar.html' %}
		</div>
		<!--end::Header wrapper-->
	</div>
	<!--end::Header container-->
</div>
<!--end::Header-->