{% extends layout %} {% load i18n %} {% block title %}{% translate "Script" %}
{%endblock %} {% block content %}
<style>
    .script-container {
        margin-top: 12vh;
    }

    .script-area {
        font-size: 2.6vh;
        padding: 6vh;
        height: 200vh;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        overflow-y: hidden;
        background-color: #373a42;
        color: #d0d3d4;
        border: 1px solid #373a42;
        border-left: 3px solid #FFC107;
        border-radius: 16px;
    }

    .script-area:focus {
        font-size: 2.6vh;
        padding: 6vh;
        height: 200vh;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        overflow-y: hidden;
        background-color: #373a42;
        color: #d0d3d4;
        border: 1px solid #373a42;
        border-left: 3px solid orange;
        border-radius: 16px;
    }

    p:hover {
        transition: 1s ease;
        background-color: #222429;
        border-radius: 6px;
    }

    #my-div {
        display: none;
    }

    #copilot-form {
        display: none;
    }

    .deleteform {
        display: none;
    }
</style>
<form action="{% url 'dashboards:delete_script' sid %}" method="post" id="deleteScript" class="deleteform">
    {%csrf_token%}</form>
<div class="container-fluid script-container">
    <form id="copilot-form" method="post" action="{% url 'dashboards:edit_copilot' sid %}">
        {%csrf_token%}
        <textarea name="copilot_plot" id="para"></textarea>
    </form>
    <div class="row">
        <div class="col-md-12 col-lg-8 offset-lg-2">
            <form action="{% url 'dashboards:edit_script' sid %}" method="post" id="Editscript">
                {%csrf_token%}
                <textarea class="form-control script-area" id="my-textarea" name="script">
            {% spaceless %}{{ content|linebreaks|striptags }}{% endspaceless %}
        </textarea>
                <div class="form-control script-area" id="my-div">
                    {{ content|linebreaks }}
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function adjustTextareaHeight() {
        let textarea = document.getElementById("my-textarea");

        textarea.style.height = "auto"; // Reset the height to auto
        textarea.style.height = textarea.scrollHeight + 30 + "px"; // Set the height to the scroll height
    }

    function adjustScriptDivheight() {
        let scriptdiv = document.getElementById("my-div");
        scriptdiv.style.height = "auto";
        scriptdiv.style.height = scriptdiv.scrollHeight + 30 + "px";
    }

    // Adjust textarea height initially and whenever the content changes
    document.getElementById("my-div").addEventListener("input", adjustScriptDivheight);
    document.getElementById("my-textarea").addEventListener("input", adjustTextareaHeight);
    window.addEventListener("load", adjustTextareaHeight, adjustScriptDivheight);
    window.addEventListener('resize', adjustTextareaHeight, adjustScriptDivheight);

    //copilot

    function handleCheckboxChange(checkbox) {
        textarea = document.getElementById("my-textarea");
        div = document.getElementById("my-div");
        if (checkbox.checked) {
            alert("Copilot is active!");

            textarea.style.display = "none";
            div.style.display = "block";
            adjustScriptDivheight();

        } else {
            alert("Copilot is inactive.");

            textarea.style.display = "block";
            div.style.display = "none";
            adjustTextareaHeight();
        }
    }

    document.addEventListener("DOMContentLoaded", function () {
        // Get all paragraph elements on the page
        const paragraphs = document.querySelectorAll("p");
        const para = document.getElementById("para");
        const copilotform = document.getElementById("copilot-form");

        // Iterate through each paragraph and add event listener
        paragraphs.forEach(function (paragraph) {
            paragraph.addEventListener('click', function () {
                para.value = paragraph.textContent;
                copilotform.submit();
            });

            // Check if recent_script is not null or empty
            if ("{{ recent_script }}" !== null && "{{ recent_script }}" !== "") {
                console.log("{{recent_script}}")
                paragraph.textContent = "{{ recent_script }}";
            }
        });
    });

</script>
{% endblock content %}