<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
	<!--begin::Toolbar container-->
	<div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">

		{% include './_page-title.html' %}

		<!--begin::Actions-->
		<div class="d-flex align-items-center gap-2 gap-lg-3">
			<!--end::Secondary button-->
			<!--begin::Primary button-->
			{% if '/dashboard/' in request.path %}
			{% with request.path|slice:"11:" as uid %}
			<div class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_new_target">
				Create Script</div>
			{% endwith %}
			{% elif '/script/' in request.path %}
			{% with request.path|slice:"11:" as sid %}
			<div class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal" data-bs-target="#edit_script_modal" onclick="editscript()">
				edit script</div>
			<div class="btn btn-sm fw-bold btn-primary" data-bs-toggle="modal" data-bs-target="#edit_copilot_modal">
				edit using Copilot</div>
			{% endwith %}
			{% endif %}
			<!--end::Primary button-->
		</div>
		<!--end::Actions-->
	</div>
	<!--end::Toolbar container-->
</div>
<!--end::Toolbar-->