{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Login" %}{% endblock %}

{% block content %}

<style>
    .signin-text {
        font-size: 5vh;
        color: white;
    }

    .signin-content {
        color: white;
    }

    .input-box-signin {
        background-color: #222429;
        border: 1px solid #222429;
        font-size: 2.4vh;
        color: white;
        border-bottom: 1px solid #D0D3D4;
        transition: linear;
    }

    .input-box-signin:focus {
        background-color: #222429;
        border: 1px solid #222429;
        font-size: 2.4vh;
        color: white;
        border-bottom: 3px solid #D0D3D4;
    }
</style>

<form class="form signin w-100" novalidate="novalidate" id="kt_sign_in_form" data-kt-redirect-url="/" action=""
    method="post">
    {%csrf_token%}
    <!--begin::Heading-->
    <div class="text-center mb-11">
        <!--begin::Title-->
        <h1 class=" fw-bolder mb-3 signin-text">
            Sign In
        </h1>
        <!--end::Title-->

        <!--begin::Subtitle-->
        <div class="fw-semibold fs-6 signin-content">
            Sign in to Avatar
        </div>
        <!--end::Subtitle--->
    </div>
    <!--begin::Heading-->

    <!--begin::Input group--->
    <div class="fv-row mb-8">
        <!--begin::Email-->
        <input type="text" placeholder="Username" name="username" autocomplete="off"
            class="form-control input-box-signin" />
        <!--end::Email-->
    </div>

    <!--end::Input group--->
    <div class="fv-row mb-3">
        <!--begin::Password-->
        <input type="password" placeholder="Password" name="password" autocomplete="off"
            class="form-control input-box-signin" />
        <!--end::Password-->
    </div>
    <!--end::Input group--->

    <!--begin::Wrapper-->
    <div class="d-flex flex-stack flex-wrap gap-3 fs-base fw-semibold mb-8">
        <div></div>

        <!--begin::Link-->
        <a href="/reset-password" class="link-primary">
            Forgot Password ?
        </a>
        <!--end::Link-->
    </div>
    <!--end::Wrapper-->

    <!--begin::Submit button-->
    <div class="d-grid mb-10">
        <button type="submit" class="btn btn-light">
            Sign in
        </button>
    </div>
    <!--end::Submit button-->

    <!--begin::Sign up-->
    <div class="text-gray-500 text-center fw-semibold fs-6">
        Not a Member yet?

        <a href="/signup" class="link-primary">
            Sign up
        </a>
    </div>
    <!--end::Sign up-->
</form>
<!--end::Form-->

{% endblock content %}